

body {
    margin: 0;
    background-color: rgb(227, 227, 207);
  }
  
  .container {
    margin-left: 100px;
    width: 500px;
    background-color: grey;
  }
  
  .progress-bar {
    max-width: 500px;
    width: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 20px;
    padding: 0;
    box-shadow: 0 0 1px #000;
    background-color: blue;
  }
  



  